root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.cmd]
charset = latin1
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.ps1]
end_of_line = crlf
